
    <header>
        <a href="#">
            <h1 class="site-title"> Counter Strike </h1>
        </a>
        <nav class="user-information">
            <ul class="navlist" id="navlist">
                <li class="navitem player-name">Player name: Typical-Gamer</li>
                <li class="navitem cash">Cash: $2000</li>
                <li class="navitem add-cash">
                    <button id="add-cash">Add Cash</button>
                </li>
                <!--click to add cash-->
                <li class = "navitem repo">
                  <button id = "repo">Check Repo</button>
                </li>
                <li class="navitem repository">
                    <button id="repository">Repository</button>
                </li>
                <!--click to unhide...-->
            </ul>
        </nav>
    </header>
