
<!--Single weapon template models
	used for DealerPage to allow
	player to buy weapons.
-->

<article class="item" id="{{name}}">
	<p class="weapon-name">
		{{name}}
	</p>
	<p class="price">
		Price: ${{price}}
	</p>
	<img src="{{photoURL}}" class="picture"> <!--The picture of the item-->
	<button class="buy">Buy</button>
<<<<<<< HEAD
</article>
=======
</article>
>>>>>>> 2bd012589787a2a60d7c181e132dd9c13588ddba
