

header {
  background-color: rgb(231, 78, 0);

}

body{
  background-image: url('https://pbs.twimg.com/media/Devn0EUUcAEGTjG.jpg');
  margin: 0;
}

a {
  text-decoration: none;
}
.site-title{
  color: black;
  text-shadow: 3px 2px grey;
  font-style: italic;
}

nav{
  background-color: rgb(28, 154, 96);
  padding: 2px;
}

.navlist{
  padding: 3px;
}

.navitem{
  display: inline-block;
}

 #add-cash{
   background-color: rgb(28, 154, 96);
   border:none;
   font-weight: bold;
   margin: 2px;
 }

 .cash{
   position:absolute;
   left: 350px;
 }

 .add-cash{
   border: 3px solid rgb(29, 45, 99);
   border-radius: 12px;
   position:absolute;
   left: 450px;
 }


 #add-cash:hover{
   color: rgb(254, 197, 53);
 }


 #repository{
   background-color: rgb(28, 154, 96);
   border:none;
   font-weight:bold;
   margin: 2px;
 }

 .repository{
   position:absolute;
   right: 20px;
   border-radius: 12px;
   border: 3px solid rgb(29, 45, 99);
 }

#repository:hover{
  color: rgb(254, 197, 53);
}

#repo{
  background-color: rgb(28, 154, 96);
  border:none;
  font-weight:bold;
  margin: 2px;
}

.repo{
  position:absolute;
  right: 150px;
  border-radius: 12px;
  border: 3px solid rgb(29, 45, 99);
}

#repo:hover{
 color: rgb(254, 197, 53);
}



 .market-place{
   display:flex;
   flex-wrap: wrap;
 }

.item{
  display:flex;
  flex-wrap: wrap;
  border: 3px solid grey;
  background-color: white;
  width: 300px;
  height: 100px;
  margin: 10px;
}

#lottery-block{
  /*border: 3px solid black;*/
  width: 1300px;
  margin: 20px 0px 20px 0px;
  color: rgb(254, 197, 53)
}

#buy-lottery{
  position:relative;
  left:300px;
  bottom: 100px;
  color:rgb(23,175,220);
  border: 3px solid grey;
  border-radius: 12px;
  font-size: 13px;
}

#buy-lottery:hover{
  background-color: rgb(254, 197, 53)
}

#lottery{
  font-style: italic;
}

.weapon-name{
  padding-left: 20px;
  padding-right:20px;
  font-style: oblique;
  font-weight: bold;
}

.price{
  padding-left: 20px;
  padding-right:20px;
  border: 3px solid green;
  margin-right: 10px;
  color: red;
}

.buy{
  height:30px;
  margin: 10px;
  position: relative;
  left: 60px;
  bottom: 10px;
  border: 3px solid grey;
  border-radius: 12px;
  color:rgb(23,175,220);
}

.buy:hover{
  background-color: rgb(254, 197, 53);
}

.picture{
  height:25px;
  width: 100px;
  margin:10px;
}

#create-item-button{
  border: 3px solid grey;
  border-radius: 12px;
  position: relative;
  left:1000px;
  font-style: oblique;
  font-weight: bold;
  height:35px;
  font-size: 15px;
}

#create-item-button:hover{
  background-color: rgb(254, 197, 53);
}


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden1{
  display:none;
}

.modal{
  width:auto;
  max-width: 600px;
  min-width: 350px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header{
  position:relative;
  padding:10px 20px;
}

.maodal-header h3{
  margin: 0;
  font-size: 28px;
}

.close-modal{
  position:absolute;
  right:10px;
  top:5px;
  font-size:24px;
  border:none;
  background:none;
  padding:0;
  cursor:pointer;
}

.modal-body{
  padding:20px;
}

.post-input {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.post-input input,
.post-input textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-input textarea {
  min-height: 64px;

  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

.hidden2{
  display:none;
}

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

.hidden3{
  display: none;
}
