

header {
  background-color: rgb(231, 78, 0);

}
a {
  text-decoration: none;
}
.site-title{
  color: black;
}

nav{
  background-color: rgb(28, 154, 96);
  padding: 2px;
}

.navlist{
  padding: 3px;
}

.navitem{
  display: inline-block;
}

 #add-cash{
   background-color: rgb(28, 154, 96);
   border:none;
   font-weight: bold;
   margin: 2px;
 }

 #repository{
   background-color: rgb(28, 154, 96);
   border:none;
   font-weight:bold;
   margin: 2px;
 }

.cash{
  position:absolute;
  left: 350px;
}

.add-cash{
  position:absolute;
  left: 450px;
}

 .repository{
   position:absolute;
   right: 20px;
   border-radius: 12px;
   border: 3px solid rgb(29, 45, 99);
 }

 .add-cash{
   border: 3px solid rgb(29, 45, 99);
   border-radius: 12px;
 }

 .market-place{
   display:flex;
   flex-wrap: wrap;
 }

.item{
  display:flex;
  flex-wrap: wrap;
  border: 3px solid black;
  width: 250px;
  height: 100px
}

#lottery-block{
  border: 3px solid black;
  width: 1300px;
}
