	  <head>

    		<meta charset="utf-8">
    		<title>Counter Strike</title>

   			 <link rel="stylesheet" href="style.css" media="screen">

    		<script src="index.js" charset="utf-8" defer></script>

  	 </head>

  	 		 <body>
  	 		 	<header>
  	 		 		 <a href="#"><h1 class="site-title"> Counter Strike </h1></a>
						 <nav class = "user-information">
							 <ul class = "navlist" id = "navlist">
								 
							 </ul>
						 </nav>
  	 		 	</header>
            <main class="error-container">
                <h2>404</h2>
                <h3>Woops! We couldn't sell weapons here.</h3>
							</main>
					</body>
