<!--Page used to show player's package-->

<!DOCTYPE html>
<html>
    <head>
        <mate charset="utf-8"></mate>
        <title>Player's Package<title>
            <link rel="stylesheet" href="style.css" madia="screen">
        <script src="index.js" charset="utf-8" defer></script>
    </head>

    <body>
        <main class="sell's-place">
            {{#each WeaponSell}}
                {{>WeaponSell}}
            {{/each}}
        </main>
    </body>

</html>