<!--Page used to show player's package-->

<!DOCTYPE html>
<html>
	  <head>

    		<meta charset="utf-8">
    		<title>Counter Strike</title>

   			 <link rel="stylesheet" href="style.css" media="screen">

				 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
				 <script src="/WeaponSellhandlebar.js" defer></script>

    		<script src="indexSell.js" charset="utf-8" defer></script>

  	 </head>

    <body>
        {{>header}}
        <main class="sell-place">
            {{#each WeaponSell}}
                {{>WeaponSell}}
            {{/each}}
        </main>
				<button id="create-item-button">Sell Weapon</button>

				<div id="modal-backdrop" class="hidden1"></div>
				<div id="create-item-modal" class = "hidden1">
					<div class = "modal">

						<div class = "modal-header">
							<h3>Create A Post</h3>
							<button class="close-modal">&times;</button>
						</div>

						<div class="modal-body">
							<div class = "post-input">
								<label for="enter-weapon-code">Enter Weapon Code</label>
								<textarea id="enter-weapon-code"></textarea>
							</div>

							<div class = "post-input">
								<label for="enter-weapon-price">Enter the price</label>
								<input class= "enter-weapon-price" id ="sell-price">
							</div>
						</div>

							<div class="modal-footer">
								<button class="modal-cancel-button">Cancel</button>
								<button class="modal-accept-button" id = "create-post">Create Post</button>
							</div>


					</div>
				</div>
<!---------------------------------------------------------------------------->

				<div id="modal-backdrop" class="hidden2"></div>
				<div id="create-item-modal" class = "hidden2">
					<div class = "modal">

						<div class = "modal-header">
							<h3>Add Cash</h3>
							<button class="close-modal">&times;</button>
						</div>

						<div class="modal-body">

							<div class = "post-input">
								<label for="enter-weapon-price">The amount</label>
								<input class="enter-weapon-price" id = "amount">
							</div>
						</div>

							<div class="modal-footer">
								<button class="modal-cancel-button">Cancel</button>
								<button class="modal-accept-button" id = "confirm">Confirm</button>
							</div>
					</div>
				</div>

<!---------------------------------------------------------------------------->

				<div id="modal-backdrop" class="hidden3"></div>
				<div id="create-item-modal" class = "hidden3">
					<div class = "modal">

						<div class = "modal-header">
							<h3>Your Repository</h3>
							<button class="close-modal">&times;</button>
						</div>

						<div class="modal-body">

							<ol>
								<li>M4A1-GHOST: 5</li>
								<li>MP5-GREEN: 5</li>
								<li>USP-GREEN: 5</li>
								<li>ROCK: 5</li>
								<li>M4A1-BLUE: 5</li>
								<li>SNIPER: 5</li>
								<li>AK47-PINK: 5</li>
								<li>PANTHER: 5</li>
								<li>REAPER: 5</li>
								<li>RW: 5</li>
								<li>WIND: 5</li>
								<li>EAGLE: 5</li>
								<li>TIGER: 5</li>
								<li>HAMSTER: 5</li>
							</ol>
						</div>

							<div class="modal-footer">
								<button class="modal-cancel-button">Cancel</button>
							</div>
					</div>
				</div>
    </body>

</html>
