<!--Single weapon template models-->                  
                    
                    	<article class="item" id="{{Name}}">
							<p class="weapon-name">
								{{Name}}
							</p>
							<p class="price">
								Price: {{Price}}
							</p>
							<img src="{{PhotoURL}}" class="picture"> <!--The picture of the item-->
							<button class="buy">Buy</button>
						</article>
